In [1]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import plotly.figure_factory as ff
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
df = pd.read_csv("pokemon_data.csv")
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:

cols = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

scaler = preprocessing.MinMaxScaler()

In [4]:
df2 = scaler.fit(df[cols])

In [5]:
scaler.data_min_

array([ 1.,  5.,  5., 10., 20.,  5.])

In [6]:
scaler.transform(df[cols])

array([[0.17322835, 0.23783784, 0.19555556, 0.29891304, 0.21428571,
        0.22857143],
       [0.23228346, 0.30810811, 0.25777778, 0.38043478, 0.28571429,
        0.31428571],
       [0.31102362, 0.41621622, 0.34666667, 0.48913043, 0.38095238,
        0.42857143],
       ...,
       [0.31102362, 0.56756757, 0.24444444, 0.76086957, 0.52380952,
        0.37142857],
       [0.31102362, 0.83783784, 0.24444444, 0.86956522, 0.52380952,
        0.42857143],
       [0.31102362, 0.56756757, 0.51111111, 0.65217391, 0.33333333,
        0.37142857]])

In [7]:
df[cols] = scaler.transform(df[cols])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,0.173228,0.237838,0.195556,0.298913,0.214286,0.228571,1,False
1,2,Ivysaur,Grass,Poison,0.232283,0.308108,0.257778,0.380435,0.285714,0.314286,1,False
2,3,Venusaur,Grass,Poison,0.311024,0.416216,0.346667,0.489130,0.380952,0.428571,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,0.311024,0.513514,0.524444,0.608696,0.476190,0.428571,1,False
4,4,Charmander,Fire,NaN,0.149606,0.254054,0.168889,0.271739,0.142857,0.342857,1,False

In [8]:
encoder = preprocessing.OneHotEncoder()

In [21]:
y = encoder.fit_transform(df.Legendary.values.reshape(-1, 1)).toarray()
y

1.0

In [22]:
df['Generation1'] = y[:,0]

In [23]:
df['Generation2'] = y[:,1]
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Generation1,Generation2
0,1,Bulbasaur,Grass,Poison,0.173228,0.237838,0.195556,0.298913,0.214286,0.228571,1.0,False,1.0,0.0
1,2,Ivysaur,Grass,Poison,0.232283,0.308108,0.257778,0.380435,0.285714,0.314286,1.0,False,1.0,0.0
2,3,Venusaur,Grass,Poison,0.311024,0.416216,0.346667,0.489130,0.380952,0.428571,1.0,False,1.0,0.0
3,3,VenusaurMega Venusaur,Grass,Poison,0.311024,0.513514,0.524444,0.608696,0.476190,0.428571,1.0,False,1.0,0.0
4,4,Charmander,Fire,NaN,0.149606,0.254054,0.168889,0.271739,0.142857,0.342857,1.0,False,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,0.192913,0.513514,0.644444,0.489130,0.619048,0.257143,0.0,True,0.0,1.0
796,719,DiancieMega Diancie,Rock,Fairy,0.192913,0.837838,0.466667,0.815217,0.428571,0.600000,0.0,True,0.0,1.0
797,720,HoopaHoopa Confined,Psychic,Ghost,0.311024,0.567568,0.244444,0.760870,0.523810,0.371429,0.0,True,0.0,1.0
798,720,HoopaHoopa Unbound,Psychic,Dark,0.311024,0.837838,0.244444,0.869565,0.523810,0.428571,0.0,True,0.0,1.0
799,721,Volcanion,Fire,Water,0.311024,0.567568,0.511111,0.652174,0.333333,0.371429,0.0,True,0.0,1.0